/*  -- 项目通用样式 -- */
body,
html {
    color: #333333;
    font-size: 29rpx;
    background: #fff;
}

page {
    color: #333333;
}

.cursor-pointer {
    cursor: pointer;
}

.text-cut {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

.text-cut-2 {
    white-space: normal !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}

.placeholder-color {
    color: var(--van-gray-5);
}

.tab-style {
    position: relative;
    z-index: 2;

    &:before {
        content: ' ';
        position: absolute;
        z-index: -1;
    }
}

//自定义dialog，初始化样式
.custom-dialog {
    background: transparent !important;
    top: 50%;
    border-radius: 0;
    .van-dialog__footer {
        display: none;
    }
}

.tag-success,
.tag-gray,
.tag-primary,
.tag-danger,
.tag-info {
    height: 44rpx;
    line-height: 44rpx;
    border-radius: 8rpx;
    padding: 0 20rpx;
    font-size: 24rpx;
    font-weight: bold;
}

.tag-success {
    background: #dcffbf;
    color: $success;
}
.tag-gray {
    background: #eeeeee;
    color: #9f9f9f;
}
.tag-primary {
    background: #ffcfbf;
    color: $primary;
}
.tag-danger {
    background: #ffcfbf;
    color: $danger;
}
.tag-info {
    background: #f2f3ff;
    color: #709ce5;
}

.line-success,
.line-warning,
.line-danger,
.line-gray {
    width: 6rpx;
    height: 32rpx;
    border-radius: 4rpx;
}
.line-success {
    background: $success;
}
.line-warning {
    background: $warning;
}
.line-danger {
    background: $danger;
}
.line-gray {
    background: #eeeeee;
}

.label-success,
.label-gray,
.label-primary,
.label-info {
    height: 40rpx;
    line-height: 40rpx;
    border-radius: 6rpx;
    padding: 0 18rpx;
    font-size: 28rpx;
}

.label-success {
    background: #f0fff6;
    border: 2rpx solid #2ec14e;
    color: #2ec14e;
}
.label-warning {
    background: #fff0f0;
    border: 2rpx solid #ffafaf;
    color: #ffafaf;
}
.label-primary {
    background: #fff7f0;
    border: 2rpx solid #ffb583;
    color: #ffb583;
}
.label-info {
    background: #f0f4ff;
    border: 2rpx solid #63aaff;
    color: #63aaff;
}

.button-primary {
    width: 112rpx;
    height: 48rpx;
    font-size: 24rpx;
    color: #ffffff;
    background: linear-gradient(306deg, #ff6442 0%, #ff8446 100%);
    border-radius: 50rpx;
    padding: 0;
    border: 0;
}
.button-text {
    height: 48rpx;
    line-height: 48rpx;
    font-size: 24rpx;
    border: 0;
    border-radius: 50rpx;
    padding: 2rpx 16rpx 2rpx 0rpx;
    cursor: pointer;
}

/* ==================
          布局
 ==================== */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/*  -- flex弹性布局 -- */

.flex {
    display: flex;
}

.basis-20 {
    flex-basis: 20%;
}

.basis-40 {
    flex-basis: 40%;
}

.basis-50 {
    flex-basis: 50%;
}

.basis-60 {
    flex-basis: 60%;
}

.basis-80 {
    flex-basis: 80%;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-direction {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.self-start {
    align-self: flex-start;
}

.self-center {
    align-self: flex-center;
}

.self-end {
    align-self: flex-end;
}

.self-stretch {
    align-self: stretch;
}

.align-stretch {
    align-items: stretch;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}
