:export {
    primary: $primary;
    primaryLight: $primary-light;
    primaryLight2: $primary-light2;
    primaryLight3: $primary-light3;
    success: $success;
    warning: $warning;
    warningLight: $warning-light;
    warningLight2: $warning-light2;
    warningLight3: $warning-light3;
    danger: $danger;
    primaryToLight: $primary-to-light;
}