@import 'style/tools/functions.scss';
/*
 以下变量是默认值，如不需要修改可以不用给下面的变量重新赋值
 */

// 主色
$primary: #fd8f13;
$primary-light: #ff9100;
$primary-light2: #ffb244;
$primary-light3: #fff1d5;

// 辅助色
// 除了主色外的场景色，需要在不同的场景中使用（例如危险色表示危险的操作）。
$success: #00c07f;

$warning: #f57e23;
$warning-light: #f39538;
$warning-light2: #ffb537;
$warning-light3: #ffd980;

$danger: #F26344;

// 常规色
$info: #8f939c;
$black: #000000;
$white: #ffffff;

//渐变色
$primary-to-light: linear-gradient(270deg, #feb24b 0%, #ff6442 100%);

// 间距基础倍数
$space-root: 2 !default;
// 文字大小基础倍数
$size-root: 2rpx !default;
// 文字大小基础倍数
$text-size-root: 2rpx !default;
// 边框半径默认值
$radius-root: 2rpx !default;
$radius: () !default;

// 边框半径断点
$radius: map-deep-merge(
    (
        0: 0,
        // TODO 当前版本暂时不支持 sm 属性
        // 'sm': math.div($uni-radius-root, 2),
        null: $radius-root,
        '2': $radius-root * 2,
        '3': $radius-root * 3,
        '4': $radius-root * 4,
        '5': $radius-root * 5,
        '6': $radius-root * 6,
        '7': $radius-root * 7,
        '8': $radius-root * 8,
        '9': $radius-root * 9,
        '10': $radius-root * 10,
        'circle': 50%
    ),
    $radius
);

// vant组件库配置
:root:root {
    // Component Colors
    --van-primary-color: #{$primary};
    --van-success-color: #{$success};
    --van-danger-color: #{$danger};
    --van-warning-color: #{$warning};

    // Padding
    --van-padding-base: 8rpx;
    --van-padding-xs: 16rpx;
    --van-padding-sm: 24rpx;
    --van-padding-md: 32rpx;
    --van-padding-lg: 48rpx;
    --van-padding-xl: 64rpx;

    // Font
    --van-font-size-xs: 20rpx;
    --van-font-size-sm: 24rpx;
    --van-font-size-md: 28rpx;
    --van-font-size-lg: 32rpx;
    --van-font-bold: 600;
    --van-line-height-xs: 28rpx;
    --van-line-height-sm: 36rpx;
    --van-line-height-md: 40rpx;
    --van-line-height-lg: 44rpx;

    // Border
    --van-border-width: 1rpx;
    --van-radius-sm: 4rpx;
    --van-radius-md: 8rpx;
    --van-radius-lg: 18rpx;
    --van-radius-max: 999rpx;

    //Cell
    --van-cell-group-inset-padding: 0 16rpx;

    // Color Palette
    --van-black: #000;
    --van-white: #fff;
    --van-gray-1: #f7f8fa;
    --van-gray-2: #f2f3f5;
    --van-gray-3: #ebedf0;
    --van-gray-4: #dcdee0;
    --van-gray-5: #c8c9cc;
    --van-gray-6: #969799;
    --van-gray-7: #646566;
    --van-gray-8: #333333;
    --van-red: #ee0a24;
    --van-blue: #1989fa;
    --van-orange: #ff976a;
    --van-orange-dark: #ed6a0c;
    --van-orange-light: #fffbe8;
    --van-green: #07c160;

    //Popup
    --van-popup-round-radius: 36rpx;

    //Picker
    --van-picker-toolbar-height: 186rpx;
    --van-picker-action-padding: 0 66rpx;

    //IndexBar
    --van-index-anchor-font-weight: normal;
    --van-index-anchor-text-color: #666666;

    //Radio
    --van-radio-size: 32rpx;

    //Checkbox
    --van-checkbox-size: 32rpx;

    //Tabs
    --van-tabs-nav-background: transparent;
    --van-tabs-line-height: 50rpx;

    //Dialog
    --van-dialog-radius: 36rpx;
    --van-dialog-header-isolated-padding: 105rpx 72rpx 72rpx 72rpx;
    --van-dialog-has-title-message-padding-top: 30rpx;
    --van-dialog-button-height: 82rpx;
    --van-dialog-header-padding-top: 87rpx;
    --van-dialog-has-title-message-padding-top: 25rpx;
    --van-dialog-message-font-size: 25rpx;
    --van-dialog-font-size: 33rpx;

    //DropdownMenu
    --van-dropdown-menu-height: 72rpx;
    --van-dropdown-menu-title-font-size: 26rpx;
    --van-dropdown-menu-title-text-color: #999999;
    --van-dropdown-menu-title-active-text-color: #666666;
    --van-dropdown-menu-shadow: 0;

    //Switch
    --van-switch-size: 38rpx;

    //Overlay
    --van-overlay-z-index: 100;
    --van-overlay-background: rgba(0, 0, 0, 0.5);

    //Loading
    --van-loading-spinner-size: 38rpx;
}

//Cell
.van-form .van-cell {
    padding: 24rpx 40rpx;
}

//Field
.van-field__control {
    font-size: 28rpx;
}

//Radio
.van-radio--horizontal {
    margin-right: 0;
    margin-left: var(--van-padding-sm);
}

//Button

//Picker
.van-picker__frame {
    left: 66rpx;
    right: 66rpx;
}

.van-hairline-unset--top-bottom:after {
    border: 0 solid $primary;
}

.van-hairline--top-bottom:after,
.van-hairline-unset--top-bottom:after {
    border-width: 8rpx 0;
}

.van-picker {
    background: url('@/assets/images/common/picker-bg.png') #ffffff;
    background-size: 584rpx 175rpx;
    background-position: top left;
    background-repeat: no-repeat;
}

//IndexBar
.van-index-bar__index {
    font-weight: normal;
}

.van-index-bar__index {
    color: #cccccc;
    font-size: 18rpx;
    padding: 12rpx 16rpx;
}

.van-index-bar__index--active {
    color: $primary;
}

//Dialog
.van-dialog {
    background: #ffffff linear-gradient(180deg, #ffecc3 0%, rgba(255, 255, 255, 0) 70rpx);
}
.van-dialog__cancel {
    border-radius: 42rpx;
    color: #ff6442;
    border: 2rpx solid #ff6442;
    font-size: 29rpx;
}
.van-dialog__confirm {
    color: #ffffff;
    background: $primary-to-light;
    border-radius: 42rpx;
    font-size: 29rpx;
}
.van-dialog__confirm,
.van-dialog__confirm:active {
    color: #ffffff;
}
.van-dialog .van-hairline--top {
    position: static;
}
.van-dialog .van-hairline--left:after {
    border: 0;
}
.van-dialog__footer {
    padding: 0 58rpx 47rpx 58rpx;
    display: flex;
    gap: 43rpx;
}
.van-dialog__message--has-title {
    padding-bottom: 72rpx;
}
.van-dialog__header {
    padding-left: 72rpx;
    padding-right: 72rpx;
    color: #000000;
}
