@font-face {
  font-family: "iconfont"; /* Project id 4410781 */
  src: url('iconfont.woff2?t=1707210237314') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus-o:before {
  content: "\e610";
}

.icon-format-header-1:before {
  content: "\e860";
}

.icon-redo:before {
  content: "\e627";
}

.icon-undo:before {
  content: "\e633";
}

.icon-fontsize:before {
  content: "\e6fd";
}

.icon-wuxupailie:before {
  content: "\ec80";
}

.icon-juzhongduiqi:before {
  content: "\ec81";
}

.icon-youxupailie:before {
  content: "\ec82";
}

.icon-youduiqi:before {
  content: "\ec83";
}

.icon-zitishangbiao:before {
  content: "\ec86";
}

.icon-zuoduiqi:before {
  content: "\ec89";
}

.icon-zitixiabiao:before {
  content: "\ec8a";
}

.icon-zuoyouduiqi:before {
  content: "\ec8b";
}

.icon-text_color:before {
  content: "\e6f8";
}

.icon-fontbgcolor:before {
  content: "\e6f9";
}

.icon-shanchu:before {
  content: "\ec7b";
}

.icon-charutupian:before {
  content: "\ec7f";
}

.icon-zitijiacu:before {
  content: "\ec71";
}

.icon-zitishanchuxian:before {
  content: "\ec84";
}

.icon-zitixiahuaxian:before {
  content: "\ec85";
}

.icon-zitixieti:before {
  content: "\ec72";
}

.icon-double-arrow-down:before {
  content: "\ea4e";
}

